*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.navbar-collapse{
    margin-left:200px
}
.navbar-nav:hover li{
  opacity: .2;
  filter: blur(2px);
}
.navbar-nav>.nav-item:hover{
  opacity: 1;
  filter: blur(0px);
}
.header-link:hover{
  color:red !important;
  text-decoration: underline;
}
.banner{
    margin:80px 0px;
    background-color: #eee;
}
#ban{
  /* width: 450px !important;
  height: 450px !important; */
}
.ban1{
  font-family: 'Amatic SC', cursive;
}
.bantit{
  margin-right: 100px;
}
#bookbtn:hover{
  box-shadow: 0px 5px 20px rgb(255, 0, 0);
}
.more{
  font-family: 'Amatic SC', cursive;
}
/* .img_col{
 left:20%;
} */
.abt_img{
  height:100%
}
.saying_us,.why_us,.chef,.form_1,.contact_in,.event{
  background-color: #eee;
}
#why_us_box{
 background-color: red ;
}
.why_us_side_box:hover{
  transform: scale(1.1 , 1.1) !important;
  transition-duration: 2s ;
    transition-timing-function: ease-out;
  box-shadow: 0px 0px 25px  rgb(114, 210, 255);;
}
.count_ban{
  background-size: cover;
  background-repeat: no-repeat;
  height:380px;
 background-position: 50% 45%;
 background-image: url(images/stats-bg.jpg) !important; 
}
.inner_saying_us{
  width:70% !important;
}
.caro_use{
  /* border-left:3px solid red !important; */
}
.chef{
  padding: 70px !important;
}
.chef_box:hover{
  transform: scale(1.1 , 1.1) !important;
  transition-duration: 2s ;
  transition-timing-function: ease;
  box-shadow: 0px 0px 10px  rgb(24, 32, 36);
}

.form-control:focus{
  border:1px solid red !important;
}
.contact{
  background-color: #f7f7f7;
}
/* .cont>.form-check>input[type='radio']:checked+label+div{
display: block !important;
} */

.navbar{
  overflow-x:hidden !important;
}

@media only screen and (min-width:768px){
  .saying_us{
    padding: 100px !important; 
  }
}
@media only screen and (max-width:600px){
  .book{
    font-size:medium !important; 
  }
  .number{
    font-size:medium !important; 
  }
}
